@use "../abstracts/" as *;

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__body {
    display: flex;
    align-items: center;
    padding: $card-body-padding;
    position: relative;
  }

  &[data-type="testimonial"] &__body {
    &::after {
      content: "\201C";
      font-family: $ff-accent;
      position: absolute;
      color: clr(neutral, 900);
      opacity: 0.05;
      z-index: -1;
      font-size: 25rem;
      top: -7rem;
      left: 1rem;
    }
  }
}